<footer class="site-footer">
    <div class="footer-inside">
        <div class="footer-message-and-form">
            <p class="colophon">
                CSS-Tricks is created by <a href="">Chris</a> and a <a href="">team</a> of swell&nbsp;people.
            </p>
            <div class="footer-form-wrap">
                <form action="">
                    <h4>Keep up to date on web dev</h4>
                    <p>with our hand-crafted weekly newsletter</p>
                    <div class="footer-form">
                        <label for="mce-EMAIL" class="screen-reader">Email Address</label>
                        <input type="email" name="EMAIL" class="required email mailchimp-email-input" id="mce-EMAIL"
                            placeholder="smart@cookie.com" required="">
                        <input type="submit" value="Subscribe" name="Subscribe" id="mc-embedded-subscribe"
                            class="button subscribe-button">
                    </div>
                </form>
            </div>
        </div>
        <div class="link-grid">
            <div class="list">
                <div>
                    <h5>Tech</h5>
                    <ul>
                        <li><a href="https://wordpress.org/">WordPress</a> <span>(CMS)</span></li>
                        <li><a href="/jetpack/">Jetpack</a> <span>(Search, Backup)</span></li>
                        <li><a href="https://woocommerce.com/?aff=8638">WooCommerce</a> <span>(eCommerce)</span></li>
                        <li><a href="https://localwp.com/">Local</a> <span>(Development)</span></li>
                    </ul>
                </div>
                <div>
                    <h5>Hosting</h5>
                    <ul>
                        <li><a href="">Flywheel</a></li>
                    </ul>
                </div>
            </div>
            <div class="list">
                <div>
                    <h5>Family</h5>
                    <ul>
                        <li><a href="">CodePen</a></li>
                        <li><a href="">ShopTalk Show</a></li>
                    </ul>
                </div>
                <div>
                    <h5>Minisites</h5>
                    <ul>
                        <li><a href="">The Power of Serverless</a></li>
                        <li><a href="">Upcoming Conferences</a></li>
                        <li><a href="">Coding Fonts</a></li>
                    </ul>
                </div>
            </div>
            <div class="list">
                <div>
                    <h5>Contact</h5>
                    <ul>
                        <li><a href="">Email</a></li>
                        <li><a href="">Sponsorship Info</a></li>
                        <li><a href="">Guest Writing</a></li>
                    </ul>
                </div>
                <div>
                    <h5>Buy</h5>
                    <ul>
                        <li><a href="">Posters &amp; Swag</a></li>
                        <li><a href="">Membership</a></li>
                    </ul>
                </div>
            </div>
            <div class="list">
                <div>
                    <h5>Follow</h5>
                    <ul>
                        <li><a href="">Twitter</a></li>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">YouTube</a></li>
                        <li><a href="">CodePen</a></li>
                        <li><a href="">GitHub</a></li>
                        <li><a href="">iTunes</a></li>
                        <li><a href="">RSS</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</footer>