<div class="ui inverted segment" style="border-bottom: 1px solid rgb(167, 161, 161);">
    <div class="ui inverted secondary menu">
        <div class="header item" style="font-size: large;">
            <i class="asterisk icon"></i>

            CSS-TRICKS
        </div>
        <a class="item item-hover">
            ARTICLES
        </a>
        <a class="item">
            VIDEOS
        </a>
        <a class="item">
            ALMANAC
        </a>
        <a class="item">
            NEWSLETTER
        </a>
        <a class="item">
            GUIDES
        </a>
        <a class="item">
            BOOKS
        </a>
        <div class="right menu search-login">
            <a class="item"><i class="search icon header-icon"></i></a>
            <a class="item"><i class="user circle icon header-icon"></i></a>
        </div>
    </div>
</div>